.idea

2021-02-09 at 18.26.28.mp4

folder_created_at_runtime

folder_dest

folder_dest_copied_structure

folder_src

FoldersTypeForTests

"Icon\r"

logAllFiles.txt
logAlreadyExistingFiles.txt
logNonFiles.txt
Notes_2020-10-21 12.16.58.jpg

shift_files_test_1.py
shift_files_test_2.py